.zora_as_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.zora_as_winner {
    width: 200px;
    margin-bottom: 30px;
}

.zora_heading_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.zora_heading_center h2 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 2.2rem;
    margin: 0;
    font-weight: bold;
}

.zora_as_content {
    max-width: 600px;
    margin: 36px auto 0 auto;
    padding: 28px 28px 44px 28px;
    background: #131316;
    border-radius: 18px;
    box-shadow: 0 6px 30px #00000033;
}



.zora_as_table {
    margin-top: 18px;
    background: #18181b;
    border-radius: 12px;
    padding: 18px 16px;
    box-shadow: 0 2px 10px #0002;
}

.zora_as_table h3 {
    margin-top: 0;
    color: #51fc8b;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.zora_as_table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 14px;
}

.zora_as_table th,
.zora_as_table td {
    padding: 12px 10px;
    text-align: left;
}

.zora_as_table th {
    background: #252529;
    color: #51fc8b;
    font-weight: 700;
    border-bottom: 2px solid #242424;
    font-size: 1.05rem;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 #000c;
}

.zora_as_table td {
    background: #17171c;
    color: #fff;
    border-bottom: 1px solid #232330;
    font-size: 1.05rem;
}

.zora_as_table tr:last-child td {
    border-bottom: none;
}

.zora_as_table tr:hover td {
    background: #222228;
    color: #90ffaa;
    transition: background 0.13s, color 0.13s;
}

/* Responsive for small screens */
@media (max-width: 650px) {
    .zora_as_content {
        padding: 10px 5vw 30px 5vw;
    }

    .zora_as_table table,
    .zora_as_table th,
    .zora_as_table td {
        font-size: 0.98rem;
        padding: 9px 6px;
    }

    .zora_btn a {
        padding: 10px 20px;
        font-size: 1rem;
    }
}