
.register-wrapper .zora_heading_center{
  margin: 0px;
}

.zora_que_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zora_que_mcq{
  background-color: #ffffff31;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  max-width: 650px;
  text-wrap: wrap;
}

.zora_option_label{
  display: flex;
  align-items: center;
}

.zora_option_label input[type="radio"]{
  margin-right: 20px;
}

.zora_que_btn {
  margin: 16px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}